._Loguin{
    width: 30%;
    min-height: 100%;
    background-color: rgb(240, 155, 28);
    margin-left: 60%;
    margin-top: 17%;
    box-shadow: 7px 13px 37px rgb(240, 155, 28);
    padding: 20px 30px;
    border-top: 2px solid #ffffff;
    color: rgb(0, 0, 0);
    
}

._Loguin h1 {
    margin: 0;
    text-align: center;
    height: 50px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 40px;
}
.controles{
    
    width: 95%;
    border: 1px solid #000000;
    margin-bottom: 20px;
    padding: 11px 10px;
    background: #ebe8e8;
    font-size: 10px;
    font-weight: bold;
}
.botones{
    margin-left: 22.2%;
    border: 10px;
    margin-bottom: 10%;
    display: flex;
    justify-content: flex-end;  
    padding: 10px 11px;
    width: 50%;
    height: 40px;
    background: #878686;
    border: none;
    color: rgb(2, 2, 2);
    justify-content: center;
    margin-top: 50px;
    
}

._Loguin h4{
    margin: 0;
    text-align: center;
    height: 50px;
    font-size: 20px;

}

._Loguin p {
    height:40 px;
    text-align: center;
    border-bottom: 1px solid;

}
._Loguin a{
    color: rgb(73, 73, 73);
    text-decoration: none;
    font-size: 14px;
}
._Loguin a:hover{
    text-decoration: underline;

}
.centrarboton { 
    
    display: center;
    align-items: center;
}
