.CrearPregunta{
    margin-top: 0%;
    margin-left: 15%;
    margin-right: 15%;
    border: 1px snow;
    
}
.Linea{
    margin-left: 10%;
    margin-right: 10%;
    width: 1000px;
    height: auto;
    border-left: 1px solid;
    border-right: 1px solid;
 
    
}
        

.BotonesSeleccion{
    border-top: 500px; 
    height: 40px;
    background: #878686;
    border: 1px solid;
    color: rgb(2, 2, 2);
    margin-bottom: 16px;
    margin-left: 8%;
    margin-right: 8%;
}

