.Home{
    display: flex;
    margin-left: 36%;
    width: 50%;
    height: auto;
    
  
    margin-top: 3%;
    
    color: rgb(0, 0, 0);

}
.HomePadding{
    padding: 10px 20px;
    
   
}
.Home h4{
    text-align: justify;
}